server {
        listen 80;
        listen [::]:80;

        root {{html_dir}};
        index index.html;

        server_name {{server_name}};

        location / {
                try_files $uri $uri/ =404;
        }
}